

<app-topbar></app-topbar>

<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">

    <mat-label>Favorite food</mat-label>

    <label class="username">
      <input matInput placeholder="username" value="joe">
    </label>
    <br/>

    <mat-label>Leave a comment</mat-label>
    <label class="password">
      <input matInput placeholder="password" value="">
    </label>

    <label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </label>
  </mat-form-field>

</form>
